#lp .fixedContentsConversion {
  display: inline-block;
}

.fixedContents {
  display: block;
}
@media only screen and (max-width:768px) {
  .fixedContents {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
  }
}
.fixedContents .fixedContentsConversion {
  position: fixed;
  top: 33px;
  right: 41px;
  display: none;
  z-index: 10;
}
@media only screen and (max-width:768px) {
  .fixedContents .fixedContentsConversion {
    position: relative;
    top: 0;
    right: auto;
    width: 100vw;
    order: 1;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width:768px) {
  .fixedContents .fixedContentsConversion.-show {
    margin-bottom: 39px;
  }
}
.fixedContents .fixedContentsCookieWrap {
  display: none;
}
@media only screen and (max-width:768px) {
  .fixedContents .fixedContentsCookieWrap {
    order: 2;
  }
}
.fixedContents .fixedContentsCookie {
  position: fixed;
  display: flex;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 95%;
  max-width: 1024px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 16px rgba(0, 39, 78, 0.15);
  gap: 38px;
  padding: 18px 43px;
  transition: 0.3s;
}
@media only screen and (max-width:768px) {
  .fixedContents .fixedContentsCookie {
    position: relative;
    transform: inherit;
    left: 0;
    width: 100%;
    max-width: 100%;
    bottom: 0;
    border-radius: 0;
    flex-wrap: wrap;
    gap: 14px;
    padding: 14px 24px;
  }
}
.fixedContents .cookieTitle {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.08em;
  line-height: 14px;
  color: #0b275c;
}
@media only screen and (max-width:768px) {
  .fixedContents .cookieTitle {
    font-size: 12px;
    letter-spacing: 0.08em;
  }
}
.fixedContents .cookieText {
  margin-top: 12px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.05em;
  line-height: 18px;
  color: #222;
}
@media only screen and (max-width:768px) {
  .fixedContents .cookieText {
    margin-top: 8px;
    font-size: 10px;
    letter-spacing: 0.05em;
    line-height: 16px;
  }
}
.fixedContents .cookieText a {
  color: #074FA2;
}
.fixedContents .fixedContentsCookieButton {
  display: flex;
  align-items: flex-end;
}
@media only screen and (max-width:768px) {
  .fixedContents .fixedContentsCookieButton {
    width: 100%;
    justify-content: center;
  }
}
.fixedContents .cookieButton {
  width: 119px;
  background: #0B275C;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #fff;
  padding: 14px;
  text-align: center;
  cursor: pointer;
}
@media only screen and (max-width:768px) {
  .fixedContents .cookieButton {
    padding: 11px;
    font-size: 10px;
    letter-spacing: 0.05em;
  }
}

.topLpBanner {
  display: none;
}

#top .topLpBanner {
  width: 276px;
  position: fixed;
  display: block;
  bottom: 49px;
  right: 38px;
  filter: drop-shadow(10px 13px 16px rgba(0, 30, 65, 0.36));
  z-index: 10;
}
@media only screen and (max-width:768px) {
  #top .topLpBanner {
    width: 170px;
    bottom: 20px;
    right: 20px;
  }
}

.formAgreement {
  text-align: center;
  margin-top: 50px;
}
.formAgreement .mwform-checkbox-field-text {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: auto;
  padding-left: 34px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.17em;
  line-height: 28px;
  color: #212121;
  text-align: left;
}
.formAgreement .mwform-checkbox-field-text a {
  color: #074FA2;
  text-decoration: underline;
}
.formAgreement .mwform-checkbox-field-text::before {
  background: #fff;
  border: 2px solid #0B275C;
  border-radius: 100px;
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.formAgreement .mwform-checkbox-field-text::after {
  content: "";
  display: block;
  background: #0B275C;
  border-radius: 100px;
  width: 10px;
  height: 10px;
  opacity: 0;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
}
.formAgreement input[type=checkbox]:checked + .mwform-checkbox-field-text::after {
  opacity: 1;
}

.mw_wp_form_confirm .formAgreement {
  display: none;
}

.secEntry .privacy-policy a {
  color: #074FA2;
}

.l-conversionButton {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.l-conversionButton .conversionButtonItem {
  position: relative;
}
@media only screen and (max-width:768px) {
  .l-conversionButton .conversionButtonItem {
    width: 45%;
  }
}
.l-conversionButton .conversionButtonLink.-blue a {
  background: linear-gradient(90deg, #069691 0%, #0041ad 100%);
}
.l-conversionButton .conversionButtonLink a {
  display: block;
  width: 165px;
  border-radius: 100px;
  background: linear-gradient(90deg, #f08b00 0%, #ff4e00 100%);
  text-align: center;
  padding: 17px 0;
}
@media only screen and (max-width:768px) {
  .l-conversionButton .conversionButtonLink a {
    width: 100%;
  }
}
.l-conversionButton .conversionButtonLink .lpButtonText {
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.04em;
  line-height: 14px;
  color: #fff;
}
.l-conversionButton .conversionButtonLink .lpButtonArrow {
  position: absolute;
  right: 9px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(https://dpm.co.jp/wp-content/themes/daiichiseimitsu-theme/assets/images/lp/button-arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  vertical-align: middle;
}

#lp .lpMv {
  background: url("https://dpm.co.jp/wp-content/themes/daiichiseimitsu-theme/assets/images/lp/mv.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 572px;
  width: 100%;
  position: relative;
}
@media only screen and (max-width:768px) {
  #lp .lpMv {
    height: 690px;
  }
}
#lp .lpMv .lpMvWrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  max-width: 1280px;
}
#lp .lpMv .lpMvInner {
  position: absolute;
  bottom: 65.5px;
  left: 80px;
}
@media only screen and (max-width:768px) {
  #lp .lpMv .lpMvInner {
    bottom: 109px;
    left: 25px;
    padding-right: 25px;
  }
}
#lp .lpMv .lpMvText1 {
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.1em;
  line-height: 56px;
  color: #fff;
}
@media only screen and (max-width:768px) {
  #lp .lpMv .lpMvText1 {
    font-size: 27px;
    letter-spacing: 0.1em;
    line-height: 40px;
  }
}
#lp .lpMv .lpMvText2 {
  margin-top: 28px;
  font-family: YuGothic;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 26px;
  color: #fff;
}
@media only screen and (max-width:768px) {
  #lp .lpMv .lpMvText2 {
    margin-top: 39px;
    line-height: 24px;
  }
}
#lp .lpMv .lpMvContact {
  display: inline-block;
  position: relative;
  margin-top: 48px;
}
#lp .lpMv .lpMvContact a {
  display: block;
  width: 238px;
  border-radius: 100px;
  background: linear-gradient(90deg, #f08b00 0%, #ff4e00 100%);
  text-align: center;
  padding: 18px 0;
}
#lp .lpMv .lpMvContact .lpButtonText {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: 16px;
  color: #fff;
}
#lp .lpMv .lpMvContact .lpButtonArrow {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-image: url(https://dpm.co.jp/wp-content/themes/daiichiseimitsu-theme/assets/images/lp/button-arrow.svg);
  background-size: contain;
  vertical-align: middle;
}
#lp .lpProblem {
  margin-top: 165px;
  text-align: center;
}
@media only screen and (max-width:768px) {
  #lp .lpProblem {
    margin-top: 80px;
  }
}
#lp .lpProblem .lpProblemText {
  margin-top: 23px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.28em;
  line-height: 48px;
  text-align: center;
  color: #222;
}
@media only screen and (max-width:768px) {
  #lp .lpProblem .lpProblemText {
    margin-top: 14px;
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 32px;
  }
}
#lp .lpProblem .lpProblemList {
  width: 460px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 40px auto 0;
}
@media only screen and (max-width:768px) {
  #lp .lpProblem .lpProblemList {
    width: 100%;
    max-width: 410px;
    gap: 22px;
  }
}
#lp .lpProblem .lpProblemListItem {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 16px;
  color: #222;
  position: relative;
  padding-left: 35px;
}
@media only screen and (max-width:768px) {
  #lp .lpProblem .lpProblemListItem {
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 20px;
  }
}
#lp .lpProblem .lpProblemListItem::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(https://dpm.co.jp/wp-content/themes/daiichiseimitsu-theme/assets/images/lp/icon-check.svg);
  background-size: contain;
  vertical-align: middle;
}
@media only screen and (max-width:768px) {
  #lp .lpProblem .lpProblemListItem::before {
    top: 0;
    transform: none;
  }
}
#lp .lpProblem .lpProblemReason {
  margin-top: 120px;
}
@media only screen and (max-width:1024px) {
  #lp .lpProblem .lpProblemReason {
    margin-top: 80px;
  }
}
#lp .lpProblem .lpProblemReasontitle {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.28em;
  line-height: 48px;
  text-align: center;
  color: #222;
}
@media only screen and (max-width:768px) {
  #lp .lpProblem .lpProblemReasontitle {
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 32px;
  }
}
#lp .lpProblem .lpProblemReasonList {
  margin-top: 54px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}
@media only screen and (max-width:1024px) {
  #lp .lpProblem .lpProblemReasonList {
    gap: 62px;
    max-width: 588px;
    margin: 50px auto 0;
  }
}
#lp .lpProblem .lpProblemReasonListItem {
  width: 320px;
  position: relative;
}
@media only screen and (max-width:1024px) {
  #lp .lpProblem .lpProblemReasonListItem {
    width: 100%;
  }
}
#lp .lpProblem .lpProblemReasonListPoint {
  padding: 6px 17px;
  position: absolute;
  top: -14px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
  background: #0b275c;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 16px;
  color: #fff;
}
#lp .lpProblem .lpProblemReasonListImage img {
  border-radius: 4px;
}
#lp .lpProblem .lpProblemReasonListTitle {
  margin-top: 18.6px;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-align: center;
  color: #0b275c;
}
#lp .lpProblem .lpProblemReasonListText {
  margin-top: 17px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 24px;
  color: #222;
  text-align: left;
}
#lp .lpProblem .lpProblemArrow {
  margin-top: 77px;
}
@media only screen and (max-width:1024px) {
  #lp .lpProblem .lpProblemArrow {
    margin-top: 58px;
  }
}
#lp .lpProblem .lpProblemArrow img {
  width: 290px;
}
#lp .lpSolution {
  margin-top: 64px;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution {
    margin-top: 47px;
  }
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListWrap {
    max-width: 588px;
    margin: 0 auto;
  }
}
#lp .lpSolution .lpSolutionTitle {
  text-align: center;
}
#lp .lpSolution .lpSolutionText {
  margin-top: 23px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.28em;
  line-height: 48px;
  text-align: center;
  color: #222;
}
@media only screen and (max-width:768px) {
  #lp .lpSolution .lpSolutionText {
    margin-top: 14px;
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 32px;
  }
}
#lp .lpSolution .lpSolutionList {
  margin-top: 64px;
  display: flex;
  gap: 64px;
  flex-wrap: wrap;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionList {
    gap: 48px;
  }
}
#lp .lpSolution .lpSolutionListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#lp .lpSolution .lpSolutionListItem:nth-child(even) .textWrap {
  order: 1;
  padding-left: 0;
  padding-right: 56%;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListItem:nth-child(even) .textWrap {
    padding: 0;
  }
}
#lp .lpSolution .lpSolutionListItem:nth-child(even) .imageWrap {
  order: 2;
  left: auto;
  right: 0;
}
#lp .lpSolution .lpSolutionListItem .lpSolutionListTag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#lp .lpSolution .lpSolutionListItem .lpSolutionListTag .tag1,
#lp .lpSolution .lpSolutionListItem .lpSolutionListTag .tag2 {
  color: #0b275c;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.12em;
}
#lp .lpSolution .lpSolutionListItem .lpSolutionListTag .tag1 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  padding-left: 80px;
  position: relative;
}
#lp .lpSolution .lpSolutionListItem .lpSolutionListTag .tag1::before {
  content: "";
  display: block;
  width: 40px;
  height: 1px;
  background: #0b275c;
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
#lp .lpSolution .lpSolutionListItem .lpSolutionListTag .tag2 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}
#lp .lpSolution .lpSolutionListItem .heading {
  margin-top: 40px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.12em;
  line-height: 40px;
  text-align: left;
  color: #222;
  font-feature-settings: "palt";
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListItem .heading {
    margin-top: 20px;
    font-size: 20px;
    letter-spacing: 0.12em;
    line-height: 32px;
  }
}
#lp .lpSolution .lpSolutionListItem .textWrap {
  width: 100%;
  padding-left: 55%;
  position: relative;
  height: 342px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListItem .textWrap {
    padding: 0;
    display: block;
    height: auto;
  }
}
#lp .lpSolution .lpSolutionListItem .imageWrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  max-width: 513px;
  width: 50%;
  height: 340px;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListItem .imageWrap {
    max-width: none;
    width: 100%;
    position: static;
    height: auto;
    margin: 16px 0 0;
  }
}
#lp .lpSolution .lpSolutionListItem .imageWrap img {
  width: 100%;
  height: 340px;
  object-fit: cover;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListItem .imageWrap img {
    height: 218px;
  }
}
#lp .lpSolution .lpSolutionListCheck {
  margin-top: 38px;
  width: 100%;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListCheck {
    margin-top: 20px;
    gap: 16px;
  }
}
#lp .lpSolution .lpSolutionListCheckItem {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 24px;
  color: #222;
  position: relative;
  padding-left: 35px;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListCheckItem {
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 20px;
  }
}
#lp .lpSolution .lpSolutionListCheckItem::before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(https://dpm.co.jp/wp-content/themes/daiichiseimitsu-theme/assets/images/lp/icon-check.svg);
  background-size: contain;
  vertical-align: middle;
}
@media only screen and (max-width:1024px) {
  #lp .lpSolution .lpSolutionListCheckItem::before {
    top: 0;
    transform: none;
  }
}
#lp .lpCase {
  margin-top: 140px;
}
@media only screen and (max-width:768px) {
  #lp .lpCase {
    margin-top: 72px;
  }
}
#lp .lpCase .lpCaseTitle {
  text-align: center;
}
#lp .lpCase .lpCaseText {
  margin-top: 23px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.28em;
  line-height: 48px;
  text-align: center;
  color: #222;
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseText {
    margin-top: 14px;
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 32px;
  }
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseListWrap {
    padding: 0;
  }
}
#lp .lpCase .lpCaseList {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 2px;
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseList {
    margin-top: 40px;
    gap: 63px;
  }
}
#lp .lpCase .lpCaseListItem {
  width: calc(50% - 2px);
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseListItem {
    width: 100%;
  }
}
#lp .lpCase .lpCaseListImage {
  position: relative;
}
#lp .lpCase .lpCaseListImage .lpCaseListPoint {
  padding: 6px 17px;
  position: absolute;
  bottom: -15px;
  left: 32px;
  border-radius: 100px;
  background: #0b275c;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 16px;
  color: #fff;
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseListImage .lpCaseListPoint {
    left: 24px;
  }
}
#lp .lpCase .lpCaseListInner {
  margin-top: 34px;
  padding: 0 20px;
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseListInner {
    padding: 0 24px;
  }
}
#lp .lpCase .lpCaseListTitle {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-align: center;
  color: #0b275c;
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseListTitle {
    text-align: left;
  }
}
#lp .lpCase .lpCaseListText {
  margin-top: 20px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 24px;
  color: #222;
  text-align: left;
}
@media only screen and (max-width:768px) {
  #lp .lpCase .lpCaseListText {
    margin-top: 16px;
  }
}
#lp .lpFlow {
  margin-top: 140px;
}
@media only screen and (max-width:768px) {
  #lp .lpFlow {
    margin-top: 72px;
  }
}
#lp .lpFlow .lpFlowTitle {
  text-align: center;
}
#lp .lpFlow .lpFlowText {
  margin-top: 23px;
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.28em;
  line-height: 48px;
  text-align: center;
  color: #222;
}
@media only screen and (max-width:768px) {
  #lp .lpFlow .lpFlowText {
    margin-top: 14px;
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 32px;
  }
}
#lp .lpFlow .lpFlowInfo {
  margin-top: 24px;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.06em;
  line-height: 14px;
  text-align: center;
  color: #222;
}
#lp .lpFlow .lpFlowSlider {
  margin-top: 40px;
  padding: 0 24px;
}
@media only screen and (max-width:1024px) {
  #lp .lpFlow .lpFlowSlider {
    margin-top: 20px;
  }
}
#lp .lpFlow .lpFlowSlider .scrollbarSliderFlow {
  left: 24px;
  width: calc(100% - 48px);
  height: 3px;
  background: #e8e8e8;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderList {
  margin: auto;
  width: 1052px;
  padding-bottom: 20px;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderListItem {
  padding: 24px 15px;
  width: 218px;
  height: 298px;
  background: #f7f7f8;
  border: 1px solid #d3d8e0;
  text-align: center;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderListItem + .lpFlowSliderListItem {
  margin-left: 60px;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderListItem + .lpFlowSliderListItem::before {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  display: inline-block;
  width: 20px;
  height: 16px;
  background-image: url(https://dpm.co.jp/wp-content/themes/daiichiseimitsu-theme/assets/images/lp/flow-arrow.svg);
  background-size: contain;
  vertical-align: middle;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderStep {
  font-family: Rajdhani;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.12em;
  line-height: 14px;
  text-align: center;
  color: #0b275c;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderImage {
  margin-top: 12px;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderImage img {
  width: 88px;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderTitle {
  margin-top: 18px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.1em;
  line-height: 16px;
  text-align: center;
  color: #0b275c;
}
#lp .lpFlow .lpFlowSlider .lpFlowSliderText {
  margin-top: 15px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.06em;
  line-height: 24px;
  text-align: left;
  color: #222;
}
#lp .lpConversion {
  margin-top: 52px;
  padding-bottom: 114px;
}
@media only screen and (min-width:769px) {
  #lp .lpConversion .l-conversionButton {
    gap: 20px;
  }
  #lp .lpConversion .l-conversionButton .conversionButtonLink a {
    width: 271px;
    padding: 28px 0 22px;
  }
  #lp .lpConversion .l-conversionButton .lpButtonText {
    font-size: 22px;
    letter-spacing: 0.06em;
    line-height: 18px;
  }
  #lp .lpConversion .l-conversionButton .lpButtonArrow {
    width: 12px;
    height: 12px;
    right: 16px;
  }
}

#download .l-pageContent {
  padding-top: 75px;
}
@media only screen and (max-width:768px) {
  #download .l-pageContent {
    padding-top: 109px;
  }
}
#download .secDownloadMessage .heading {
  font-weight: 500;
  font-size: 32px;
  letter-spacing: 0.28em;
  line-height: 49px;
  color: #222;
}
@media only screen and (max-width:768px) {
  #download .secDownloadMessage .heading {
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.28em;
    line-height: 40px;
  }
}
#download .secDownloadMessage .l-inner2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
@media only screen and (max-width:768px) {
  #download .secDownloadMessage .l-inner2 {
    flex-wrap: wrap;
    padding-right: 0;
  }
}
#download .secDownloadMessage .downloadImg {
  width: 50%;
  height: 266px;
  padding-left: 50px;
  padding-right: 62px;
}
@media only screen and (max-width:768px) {
  #download .secDownloadMessage .downloadImg {
    width: 100%;
    margin-left: 0;
    max-width: 100%;
    order: 2;
    padding: 0;
    margin-top: 40px;
  }
}
@media only screen and (max-width:1024px) {
  #download .secDownloadMessage .downloadImg {
    padding-left: 0;
  }
}
#download .secDownloadMessage .downloadImg img {
  width: 100%;
  height: 342px;
  -o-object-fit: cover;
  object-fit: cover;
  max-width: auto;
}
#download .secDownloadMessage .downloadInner {
  width: 50%;
}
@media only screen and (max-width:768px) {
  #download .secDownloadMessage .downloadInner {
    width: 100%;
    order: 1;
    padding-right: 24px;
  }
}
#download .secDownloadMessage .secDownloadBox1Text {
  margin-top: 46px;
}
@media only screen and (max-width:768px) {
  #download .secDownloadMessage .secDownloadBox1Text {
    margin-top: 26px;
  }
}
#download .secDownload {
  margin-top: 80px;
}
#download .secDownloadConfirm .secDownloadBox1 {
  text-align: center;
}
@media only screen and (max-width:768px) {
  #download .downloadSuccess {
    padding-top: 53px;
  }
}
#download .downloadSuccess .secDownloadSuccessBox1 {
  margin: 45px 0 0;
  text-align: center;
}
@media only screen and (max-width:768px) {
  #download .downloadSuccess .secDownloadSuccessBox1 {
    margin: 0;
  }
}
#download .downloadSuccess .heading1Text2 {
  color: #0b275c;
}
#download .downloadSuccess .secDownloadBox1Btn {
  margin: 80px 0 0;
}
@media only screen and (max-width:768px) {
  #download .downloadSuccess .secDownloadBox1Btn {
    margin-top: 64px;
  }
}
#download .downloadSuccess .secDownloadBox1Text {
  margin: 48px 0 0;
}
@media only screen and (max-width:768px) {
  #download .downloadSuccess .secDownloadBox1Text {
    margin-top: 40px;
  }
}